.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.submit_button {
  float: right;
  background: #000000 !important;
  color: #ffff !important;
}
.mat_form_field {
  width: 100%;
}

td {
  padding-right: 8px;
}
.statistics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.statistics-image {
  flex: 1;
  min-width: 300px;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
  // margin-right: 50px;
}

.statistics-form {
  flex: 1;
  min-width: 300px;
  height: 100%;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  .view_statics {
    margin-top: 50px;
    float: right;
  }
}

@media screen and (max-width: 768px) {
  .statistics-container {
    flex-direction: column;
    height: auto;
  }

  .statistics-image,
  .statistics-form {
    flex: none;
    width: 100%;
  }
}
ion-icon {
  padding-right: 30px;
}
